fastapi
uvicorn[standard]
python-dotenv
pydantic
SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pypdf
python-docx
pandas
numpy
scikit-learn
xgboost
lightgbm
prophet
jinja2
requests
langgraph
